header {
    background: #49D681;
    padding-top: 5px;
    padding-bottom: 5px;
}

#category-btn {
    width: 28px;
    height: 28px;
    background: no-repeat center/70% url("../categoryIcon.svg") #343a40;
}

#create-btn {
    height: 30px;
    padding: 2px 7px 2px 7px;
    font-weight: 500;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    color: white;
    font-weight: bold;
    font-size: 22px;
}

#notification-icon {
    height: 15px;
}

.btn-dark {
    border-radius: 7px;
}

.account-menu a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.account-menu span {
    color: white;
    font-weight: 400;
}

.footer-links {
    list-style-type: none;
}

.footer-links li a {
    text-decoration: none;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 40px; /* Vertically center the text there */
}