
@{
    ViewData["Title"] = "500 - Internal Server Error";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/error.css" type="text/css" />
}

<div class="text-center">
    <h2>Error 500: Internal Server Error</h2>

    <p>Oops... An error occurated.</p>
</div>

