
@{
    ViewData["Title"] = "404 - Page not found";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/error.css" type="text/css" />
}

<div class="text-center">
    <h2>Error 404: Page not found</h2>
    <p>Entered address is not valid, please try another variants!</p>
</div>

