
@{
    ViewData["Title"] = "About";
}

<div class="w-75 m-auto">
    <h3 class="text-center mt-3">About</h3>

    <p>Our site have a couple of strict rules to privide safe content for our users</p>

    <ul>
        <li>
            No illegal stuff, like drugs, fake documents, etc
        </li>
        <li>
            No scamming and machination
        </li>
    </ul>

    <p>For violation of the rules you will be punished. We will immidialty freeze that or even all your ads and also ban your account until the proceedings</p>
</div>