@{
    ViewData["Title"] = "Home";
}

<div class="text-center mt-3">
    <h2 class="mb-3">Welcome to the <b>Tech Marketplace</b> </h2>

    <p class="w-75 m-auto">
    This service provides special marketplace where you can find main technical devices, and also post own. 
    This site works just like mediator between sellers and customers, so our main goal is to ensure their contact. 
    We give you useful tool to find right tech goods for you, but we also have some strict rule which you can find in about page.
    </p>

    <img class="m-5" width="680" src="~/homeImg.png" alt="site collage"/>

    <p>Hope you will enjoy this site and it will help you with tech goods search!:)</p>
</div>